header{
    position: sticky;
    background-color: rgb(52, 52, 52);
    font-family: sans-serif;
    height: 50px;
    top: 0;
    z-index: 5;
    padding: 15px 0;
    transition: linear all .2s;
}
header nav{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.nav-item{
    position: relative;
}
.nav-item a{
    padding: 3px 6px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    white-space: nowrap;
}
.nav-item a:hover{
    color: rgb(255, 149, 19);
}
.nav-item a:hover{
    color: rgb(255, 149, 19);
}
.min_header{
    height: 40px;
    padding: 10px 0;
}
.dropdown-show{
    display: block;
}