body, html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #b6c9ff;
}
/* Handle */
::-webkit-scrollbar-thumb {
    /*background: #222431;*/
    background: rgb(255, 149, 19);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}