.services{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
    margin: 50px auto;
    box-sizing: border-box;
    max-width: 800px;
    font-family: "Comic Sans MS", sans-serif;
}
.services-block{
    width: 310px;
    margin: 0 15px;
}
.services-block h2{
    margin: 15px 0;
}
.block-item.dropdown{
    user-select: none;
    cursor: pointer;
    padding-bottom: 10px;
}
.service{
    padding: 2px 10px;
}
.service:nth-child(odd){
    background-color: #f5f5f5;
}
.dropdown-menu{
    background-color: #dde7f5;
}
.dropdown-menu .service .price{
    color: darkgreen;
}